DATABASE_URI=YOUR_DATABASE_URI
DATABASE_NAME=datalake
TICKERS_COLLECTION=tickers
TICKERS_METADATA_COLLECTION=tickers_metadata
MONGO_INITDB_ROOT_USERNAME=root_user
MONGO_INITDB_ROOT_PASSWORD=root_pwd
POSTGRES_USER=root_user
POSTGRES_PASSWORD=root_pwd
POSTGRES_DB=configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin
TEST_MONGODB_URI=mongodb://localhost:27017

